/*CSS DOCUMENT*/
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.5);
}
/*-------------------------------------*//*NAVBAR A TENDINA CON IMMAGINE HOME A SINISTRA*/

div#navbar{
    width: 100%;
    height: 100px;
    /*definisico altezza e larghezza della navbar*/
    margin-bottom: 10px;/*distanzio la navbar dal resto*/
}
div nav ul{
    display: flex; /*display flex per logo e li della barra di navigazione*/
    list-style-type: none; /*rimuovere i pallini*/
    background-color: rgba(0, 0, 0);/*sfondo*/
    padding-left: 0;/*rimuovere il padding a caso della ul che stacca il logo dal lato sinistro*/
}


div nav ul div#altriPulsanti{  /*elementi della navbar*/
    display: inherit;  /*flex*/
    width: 100%;
    height: 100px;
}
div nav ul div#altriPulsanti li{
    width: 100%;
    height: 100px;
    color: white;  
    text-align: center; /*ovvio*/
    font-size: 30px;
}

div nav ul div#altriPulsanti li:hover{  /*hover sul pulsante modifica aspetto*/
    background-color: lightgrey;
    color: black;
}
div nav ul div#altriPulsanti li a{
    padding-top: 33px;
    padding-bottom: 33px; /*specifiche altezze per centrare il contenuto in verticale*/
    text-decoration:none; /*rimuove la riga del link*/
    color: inherit; /*per hover*/
    display:block; /*modificare altezza di nuovo*/
    height: 34px;
    
}
ul.tendina{     /*tendina in hover*/
    display: none;      /*invisibile quando non toccata*/
    background-color: black;
    position: relative; /*position relative per spostare rispetto al parent i sottostanti*/
    top:34px;   /*spostamento di 34px dal top */
}

li:hover ul.tendina{
    display: block;  /*tendina in verticale*/
}
li:hover ul.tendina li a{
    font-size: 15px;        /*font elementi tendina*/
}

