
*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
section{
    text-align: center;
}
section#immagini{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: antiquewhite;
}
#title{
    font-size: 40px;
}
img{
    width: 100%;
}
/*
576 per smartphone
768 tablet
992 laptop
1002 dispositivi più grandi
*/
@media (min-width:1531px){
    body{
        background-color: burlywood;
    }
    #immagini{
        
    }
}
@media (max-width:1530px){
    body{
        background-color: greenyellow;
    }
}