*{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    border:0px;
}
body{
    background-color: blanchedalmond;
}
a{
    text-decoration: none;
}
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav h1{
    font-size: 40px;
}
#h1art{
    margin-left: 20%;
}
nav article img{
    height: 80px;
}
ul{
    height: 100px;
    display: flex;
    list-style-type: none;
    padding: 30px;
    align-items: center;
    
}

#defUl li a{
    padding: 15px;
    color:chocolate;
}

li a:hover span{
    color: coral;
    border-bottom:3px solid rgb(183, 127, 36);
}

#actualP span{
    color: coral;
    border-bottom:3px solid rgb(183, 127, 36);
}


main section{
    text-align: justify;
}
section h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}
#sect1{
    display: flex;
    justify-content: center;
    background-color: darksalmon;
    height:fit-content;
}
#sect1 article{
    margin: 100px 60px;
    width: 500px;height: 400px;
    line-height: 1.6;
    background-color: tomato;
    padding: 30px;
    color: blanchedalmond;

}
#sect1 #art1{
    margin-top: 180px;
    background-image: url('materiale/tramonto.png');
    background-size: cover;
}

#sect2{
    display: flex;
    justify-content: space-evenly;
}
#sect2 figure{
    height: 100px;
    width: 70px;
}
#sect2 figure img{
    height: 60px;
}
#sect2 a{
    width: fit-content;
    display: block;
}


#sect3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;

}
#sect3 figure{
    margin: 10px 0 10px;
    width: 26%;
    clear: both;
}
#sect3 img{
    width: 100%;
}


footer{
    height: 360px;
    background-color: wheat;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
footer section{
    width: 60%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer article{
    height: 25%;
    background-color: aqua;
}
#social{
    padding: 11px 0;
}
footer div{
    height: 280px;
    width: 180px;
    padding: 140px 40px;
    background-color: brown;
}



#smallUl{
    display: none;
    height: fit-content;
}

#smallUl div{
    display: none;
}
#smallUl:hover div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100px;
    right: 10px;
    background-color: blanchedalmond;
    border-radius: 20px;
    height: 150px;
}
#smallUl a{
    color:chocolate;
}
#smallUl:hover li{
    width: fit-content;
}
b{
    cursor: pointer;
    font-size: 30px;
}
@media screen and (max-width:930px) {
    #defUl{
        display: none;
    }
    #smallUl{
        display: block;
    }
}