/*CSS DOCUMENT*/
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1#titolo{
    margin-bottom: 60px;
}

/*-------------------------------------*/

div#navbar{
    width: 100%;
    height: 120px;
    /*background-color: aliceblue;*/
    padding-top: 16px;
    padding-bottom: 16px;
    
}
div nav{
    /*background-color: antiquewhite;*/
    
}
div nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    padding-left: 0;
}

div#logo li a img{
    height: 100px;
    display: block;
}

div nav ul div#altriPulsanti{
    display: inherit;
    /*background-color: burlywood;*/
    width: 100%;
    height: 100px;
}
div nav ul div#altriPulsanti li{
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}
ul.tendina{
    display: none;
    background-color: black;
    position: relative;
    top:30px;
    width: 100%;
}
ul.tendina li a{
    font-size: 20px;
}
li:hover ul.tendina{
    display: flex;
}
div nav ul div#altriPulsanti li:hover{
    background-color: white;
    color: black;
}
div nav ul div#altriPulsanti li a{
    padding-top: 33px;
    padding-bottom: 33px;
    text-decoration:none;
    color: inherit;
    display:block;
    height: 33px;
    font-size: 30px;
}
