*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(247, 229, 150, 0.766);
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    padding-right: 20px;
    background-color: darkorange;
    border-radius: 40px;
}
#normalNav ul{
    display: flex;
    list-style-type: none;
}
#normalNav a{
    padding: 17px;
    color: blanchedalmond;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#normalNav li a:hover{
    border:0.1px solid;
    border-radius: 12px;
    padding:16px;
    padding-right: 9px;
    padding-left: 9px;
    margin-top: 1px;
    background-color: blanchedalmond;
    color:black;
}

#prenota{
    border-radius: 12px;
    border:0.1px solid;
    color:black;
    padding: 16px;
    color: blanchedalmond;
}
#prenota:hover{
    color:black;
}

#logo{
    flex-grow: 4;
}
#logo img{
    width:100px;
}

#nomeSito{
    font-family: "Brush Script MT";
    font-size: 50px;
    flex-grow: 2;
    text-align: center;
}
#nomeSito p{
    font-size: 30px;
    color: blanchedalmond;
}
#nomeSito a{
    
    color: blanchedalmond;
}



#smallNav{
    display: none;
    flex-direction: column;
    flex-grow: 4;
    text-align: end;
}
#smallNav li{
    display: none;
}
#smallNav span{
    font-size: 60px;
    color: blanchedalmond;
}
#smallNav #smallDiv{
    width: 54px;
    
    float: right;
}

#smallDiv:hover #smallLis{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2px;
    width: 120px;
    background-color: darkorange;
    text-align: center;
    border-radius: 20px;
}
#smallDiv:hover li{
    display: inline;
}
#smallDiv a{
    color: blanchedalmond;
}





.sectionMain{
    
    margin: auto;
    text-align: center;
    
    padding:20px;
}
#primaSectionDelMain{
}
#primaSectionDelMain h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.Img{
    background-color: rgb(255, 211, 157);
    display: block;

    padding: 50px;
    border-radius: 80px;
    margin-bottom: 20px;
    height: 500px;
}
.Img img{
    display: block;
    height: 400px;
    background-color: blanchedalmond;
    border-radius: 50px;
    float: left;
    margin-right: 0;
}
.Img figcaption {
    width: 40%;
    font-size: 30px;
    float: right;
}


#barraInMezzo{
    background-color: darkorange;
    width: 70%;
    height: 20px;
    margin:auto;
    border-radius: 30px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 186, 101);
}
#footerDx{
    float:right;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 40%;
    justify-content: space-around;
    position:relative;
    padding: 30px;
    text-align: end;
    flex-wrap: wrap;
}
#footerDx span{
    position:relative;
    bottom:10px;
}
#footerDx a{
    color:black;
}
#footerSx{
    float: left;
    width: 60%;
    position: relative;
    top:200px;
}

@media screen and (max-width:1200px) {
    .Img img{
        height: 300px;
    }
    .Img figcaption{
        font-size: 20px;
    }
    
}
@media screen and (max-width:1100px) {
    #logo img{
        width: 60px;
    }
    #nomeSito{
        font-size: 40px;
    }
    #primaSectionDelMain h1{
        font-size: 30px;
    }
    footer{

    }
}
@media screen and (max-width:960px){
    #normalNav{
        display: none;
    }
    #smallNav{
        display:block;
    }

    .Img{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 800px;
    }
    .Img img{
        height: auto;
        width:600px;
    }
    .Img figcaption{
        font-size: 25px;
        width: 500px;
    }
}